<?xml version ="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="MittHSB" preserve-order="true" verbose="10">

	<listeners>
		<listener
			class-name="com.qa.ExtentReportListner.ExtentRerportListener" />
		<!--<listener class-name="com.mitthsb.qa.util.TestNGEmailableReport2" /> -->
	</listeners>

	<test name="MittHSBMittUppdragPages" preserve-order="true"
		parallel="false">
		<classes>

			<!--<class name="com.mitthsb.qa.testcases.HomePageTest" /> 
			<class name="com.mitthsb.qa.testcases.AdministrationPageTest" />
			<class name="com.mitthsb.qa.testcases.EkonomiPageTest"> -->
			<class name="com.mitthsb.qa.testcases.HomePageTest">
			
			<methods>
      	 	 <include name="dokumentTabTest" />
       	 	<include name="fastighetenTabTest" />
       		
			
</methods>
				

			</class>
		</classes>
	</test>

</suite>
